@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  /**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  /**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  body
    padding-top: 0
  #cool_pic
    width: 320px
    margin-left: 0
    float: right
  .title
    font-size: 96px
  .title-info
    font-size: 40px
  .logo-and-buttons
    position: absolute
    width: 45%
    margin-top: 85px
    margin-left: 55%
    z-index: 5
    >
      img, span
        display: none
  .btn
    line-height: 15px
    height: 25px
  .poster-row
    margin-left: 0
  #poster
    height: 755px
  #poster-img-wrapper
    padding-left: 15px
  #poster-img
    height: 165px
    margin-top: 20px
    margin-right: auto
    margin-left: auto
  .centered-poster-img
    width: 50%
    margin: auto
  #reviews
    padding-top: 10px
  #positive-reviews-fix, #neutral-reviews-fix, #negative-reviews-fix
    padding-left: 33px
  .row-full-width
    width: 100%
    margin-right: 0
    margin-left: 0
  .playBtn
    margin-left: 37%
    padding-top: 20.8%
  #video-row
    padding-bottom: 56.25%
  #video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  .owl-carousel
    width: 50%
    margin: auto
  .item > a:hover
    .zoom, .overlay
      display: none !important
  #footer-text-wrapper > span
    display: block
    margin-bottom: 15px


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  #cool_pic
    margin-left: 43.5%
  .title
    font-size: 100px
  .title-info
    font-size: 40px
  .logo-and-buttons
    margin-top: 0
    width: 30%
    margin-left: 70%
  .logo-and-buttons >
    img, span
      display: block
  .logo-img
    margin-left: auto
    margin-right: auto
  .logo-info
    text-align: center
    margin-left: auto
    margin-right: auto
  #poster
    height: 520px
  #poster-img-wrapper
    width: 32%
    padding-left: 0
  #poster-img
    float: left
    height: 242.55px
    margin-top: 0
    margin-left: 0
  .centered-poster-img
    width: 100%
  #poster-info-wrapper
    float: right
    width: 68%
  .playBtn
    margin-left: 37.4%
    padding-top: 18.3%
  .owl-carousel
    width: 62%
    margin: auto


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  #cool_pic
    margin-left: 58%
  .logo-and-buttons
    position: absolute
    width: 236px
    // width: 35%
    margin-top: 0
    margin-left: 61%
    padding-right: 0
  #buttons-wrapper
    margin-bottom: 20px
  .btn
    line-height: 28px
    height: 40px
    margin-left: auto
  .poster-row
    margin-left: 0
  #poster
    height: 358px
  #poster-img-wrapper
    width: 25%
  #poster-info-wrapper
    float: left
    width: 70%
  #poster-info > span
    display: block
  #negative-reviews-fix
    padding-left: 23px
    padding-left: 0
  #positive-reviews-fix
    padding-left: 9px
  .playBtn
    padding-top: 21.8%
    margin-left: 41.66666667%
  #video-row
    height: 422px
  #video
    width: 100%
    height: 422px
  .owl-carousel
    width: 75%
    margin-left: 98px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  #cool_pic
    width: 640px
    margin-left: 37.5%
  .logo-and-buttons
    width: 20%
    margin-left: 72%
  .btn
    line-height: 18px
    height: 30px
  .poster-row
    width: 750px
    margin-left: 12%
  #video-row
    padding-bottom: 20%
  #footer-text-wrapper
    margin-left: 7.5%
    >
       span
        display: inline
        margin-bottom: 0


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  body
    padding-top: 20px
  .container-fluid
    overflow: hidden
  #cool_pic
    margin-left: 50.5%
    float: left
  .logo-and-buttons
    position: relative
    width: 15.3%
    margin-left: 0
  .btn
    line-height: 13px
    height: 25px
    margin-left: 0
  .poster-row
    margin-left: 210px
  #reviews
    padding-top: 36px
  #negative-reviews-fix
    padding-left: 23px
  #neutral-reviews-fix
    padding-left: 15px
  #positive-reviews-fix
    padding-left: 9px
  #playpause, .zoom
    transition: all .2s linear
    &:hover
      transform: scale(1.1)
  .owl-carousel
    width: 77%
    margin-left: 87px
  .item > a:hover
    .zoom, .overlay
      display: block !important
  #footer-text-wrapper
    margin-left: 0
