@import "fonts"
@import "libs"
@import "vars"

// *::-webkit-input-placeholder
// 	color: #666
// 	opacity: 1
//
// *:-moz-placeholder
// 	color: #666
// 	opacity: 1
//
// *::-moz-placeholder
// 	color: #666
// 	opacity: 1
//
// *:-ms-input-placeholder
// 	color: #666
// 	opacity: 1
//
// body input:focus:required:invalid,
// body textarea:focus:required:invalid
// 	color: #666
// body input:required:valid,
// body textarea:required:valid
// 	color: #666

body, html
  background-color: $dark-bgc

body
  font-family: 'Helvetica Neue Cyr Thin',sans-serif
  font-size: 16px
  line-height: 1.75
  position: relative
  overflow-x: hidden
  min-width: 320px
  padding-top: 20px

.bgrnd
  z-index: 0

.frgnd
  z-index: 1

.container-fluid
  position: absolute
  z-index: 0
  bottom: 0
  width: 100%

.title
  font-family: 'Bebas Neue Regular'
  line-height: 60px
  color: white

.title-info
  line-height: 49px

.pinktxt
  color: $accent

.left-title
  padding-top: 37px

.logo-img
  height: 70px
  margin-top: 30px

.logo-info
  font-family: 'Helvetica Neue Cyr Thin'

#buttons-wrapper
  margin-top: 28px

.btn
  font-size: 20px
  display: block
  margin-top: 4px
  text-align: center
  color: white
  border: none
  -webkit-border-radius: 0
  border-radius: 0
  background-color: $accent
  &:focus,
  &.focus
    color: white
    background-color: darken($accent, 10%)
  &:hover
    color: white
    background-color: darken($accent, 10%)
  &:active,
  &.active
    color: white
    background-color: darken($accent, 10%)
    &:hover,
    &:focus,
    &.focus
      color: white
      background-color: darken($accent, 17%)

#poster-img-wrapper
  padding-left: 0

#poster-info
  font-size: 18px
  line-height: 21px
  color: $dark-bgc

.poster-row
  padding: 0
  background-color: $light-bgc
  > .row
    margin: 0

#poster-info-wrapper
  padding-top: 18px
  padding-left: 9px

#title-reviews
  font-size: 24px
  padding-left: 18px

.progress
  height: auto
  -webkit-border-radius: 0
  border-radius: 0
  -webkit-box-shadow: none
  box-shadow: none

.progress-bar
  font-size: 18px
  line-height: 18px
  padding-top: 4px
  text-align: left
  color: inherit
  -webkit-box-shadow: none
  box-shadow: none
  transition-duration: 2s

.progress-bar-success
  background-color: #b6ffb1

.progress-bar-info
  background-color: #d7d7d7

.progress-bar-danger
  background-color: #ffb1b1

.playBtn
  position: absolute
  z-index: 2
  padding-top: 21.8%

#playpause:hover
  cursor: pointer

.overlay
  position: absolute
  z-index: 1
  width: 100%
  height: 100%
  background-color: rgba(85, 58, 58, 0.5)

.owl-carousel
  top: 21%

.owl-item
  width: 120px

.item > a > div > div
  width: 165px
  height: 184px
  margin: auto
  background-repeat: no-repeat
  -webkit-background-size: cover
  background-size: cover

.firstSlide
  background-image: url(../img/slide-1-thumbnail.png)
  // background-position: 60% 70%

.secondSlide
	background-image: url(../img/slide-2-thumbnail.png)
  // background-position: 39% 50%

.thirdSlide
	background-image: url(../img/slide-3-thumbnail.png)
  // background-position: 44% 50%

.nav-btn
  position: absolute
  top: 45%
  height: 35px
  cursor: pointer

#prev
  left: 33px
  -webkit-transform: rotate(180deg)
  -ms-transform: rotate(180deg)
  transform: rotate(180deg)

#next
  right: 32px

#third-block
  height: 320px

.zoom
  position: absolute
  display: none !important
  width: 165px
  height: 184px
  height: 60px
  margin-top: 66px

.item > a:hover .zoom
  display: block !important

.slide-overlay
  display: none !important
  margin-left: 7%
  width: 165px

.item > a
  &:hover .overlay
    display: block !important
  > img
    z-index: 2

footer
  height: 44px
  margin-top: 14px

#footer-text-wrapper
  padding-right: 0
  text-align: right
  *
    font-size: 14px
    margin-right: 17px
    color: white
  a
    &:active, &:focus, &:hover, &:target
      color: white

@import "media" // Всегда в конце
