doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Title
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    //- Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#101010')
    //- Windows Phone
    meta(name='msapplication-navbutton-color', content='#101010')
    //- iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#101010')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/css/lightcase.min.css')
    //- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //- WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    //- Latest compiled and minified CSS
    link(rel='stylesheet', href='css/main.min.css')
    //- Latest compiled and minified JavaScript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //- jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.8/jquery.mobile-events.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.4.0/js/lightcase.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
    script(src='js/scripts.min.js')
  body
    .container-fluid
      .row
        img.img-responsive#cool_pic(sizes='(max-width: 1400px) 100vw, 1400px', srcset='\
        img/cool_pic_bifjt0_c_scale,w_200.png 200w,\
        img/cool_pic_bifjt0_c_scale,w_348.png 348w,\
        img/cool_pic_bifjt0_c_scale,w_458.png 458w,\
        img/cool_pic_bifjt0_c_scale,w_550.png 550w,\
        img/cool_pic_bifjt0_c_scale,w_637.png 637w,\
        img/cool_pic_bifjt0_c_scale,w_710.png 710w,\
        img/cool_pic_bifjt0_c_scale,w_780.png 780w,\
        img/cool_pic_bifjt0_c_scale,w_846.png 846w,\
        img/cool_pic_bifjt0_c_scale,w_907.png 907w,\
        img/cool_pic_bifjt0_c_scale,w_964.png 964w,\
        img/cool_pic_bifjt0_c_scale,w_1018.png 1018w,\
        img/cool_pic_bifjt0_c_scale,w_1074.png 1074w,\
        img/cool_pic_bifjt0_c_scale,w_1122.png 1122w,\
        img/cool_pic_bifjt0_c_scale,w_1174.png 1174w,\
        img/cool_pic_bifjt0_c_scale,w_1225.png 1225w,\
        img/cool_pic_bifjt0_c_scale,w_1272.png 1272w,\
        img/cool_pic_bifjt0_c_scale,w_1321.png 1321w,\
        img/cool_pic_bifjt0_c_scale,w_1366.png 1366w,\
        img/cool_pic_bifjt0_c_scale,w_1386.png 1386w,\
        img/cool_pic_bifjt0_c_scale,w_1400.png 1400w', src='img/cool_pic_bifjt0_c_scale,w_1400.png', alt='Cool pic')
    .container
      header.row
        .col-lg-1.col-md-4.col-sm-6.col-xs-12.left-title.frgnd
          div
            span.title.left-title DEADPOOL	<br> 
          span.title.title-info 2016 <br> USA <br>
          span.title.title-info.pinktxt 18+ 

        .col-lg-8.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-11.col-xs-12.bgrnd
          img.img-responsive(sizes='(max-width: 1400px) 100vw, 1400px', srcset='\
          img/Layer0_uzf8tl_c_scale,w_200.png 200w,\
          img/Layer0_uzf8tl_c_scale,w_383.png 383w,\
          img/Layer0_uzf8tl_c_scale,w_517.png 517w,\
          img/Layer0_uzf8tl_c_scale,w_614.png 614w,\
          img/Layer0_uzf8tl_c_scale,w_698.png 698w,\
          img/Layer0_uzf8tl_c_scale,w_769.png 769w,\
          img/Layer0_uzf8tl_c_scale,w_840.png 840w,\
          img/Layer0_uzf8tl_c_scale,w_903.png 903w,\
          img/Layer0_uzf8tl_c_scale,w_957.png 957w,\
          img/Layer0_uzf8tl_c_scale,w_1019.png 1019w,\
          img/Layer0_uzf8tl_c_scale,w_1073.png 1073w,\
          img/Layer0_uzf8tl_c_scale,w_1126.png 1126w,\
          img/Layer0_uzf8tl_c_scale,w_1178.png 1178w,\
          img/Layer0_uzf8tl_c_scale,w_1226.png 1226w,\
          img/Layer0_uzf8tl_c_scale,w_1273.png 1273w,\
          img/Layer0_uzf8tl_c_scale,w_1320.png 1320w,\
          img/Layer0_uzf8tl_c_scale,w_1367.png 1367w,\
          img/Layer0_uzf8tl_c_scale,w_1398.png 1398w,\
          img/Layer0_uzf8tl_c_scale,w_1400.png 1400w', src='img/Layer0_xpbzdd_c_scale,w_1400.png', alt='Deadpool')
        .col-lg-2.col-md-3.col-sm-4.col-xs-5.logo-and-buttons
          img.img-responsive.logo-img(src='img/logo_1a525dbd-16fb-4c2d-a70f-fac1618d1c52.svg', alt='Logo')
          span.title.title-info.pinktxt.logo-info spike
          #buttons-wrapper
            a.btn.btn-default(href="#", role='button') Все кино
            a.btn.btn-default(href="#", role='button') Рейтинги
            a.btn.btn-default(href="#", role='button') Общение
            a.btn.btn-default(href="#", role='button') Войти
      .row
        .col-lg-8.col-lg-offset-2.col-md-2.col-md-offset-1.col-sm-12.col-xs-12.poster-row#poster
          .row
            .col-lg-3.col-lg-push-0.col-sm-3.col-sm-push-0.col-xs-12#poster-img-wrapper
              .centered-poster-img
                img.img-responsive#poster-img(sizes='(max-width: 517px) 100vw, 517px', srcset='\
                img/poster_pwfehx_c_scale,w_200.png 200w,\
                img/poster_pwfehx_c_scale,w_229.png 229w,\
                img/poster_pwfehx_c_scale,w_254.png 254w,\
                img/poster_pwfehx_c_scale,w_278.png 278w,\
                img/poster_pwfehx_c_scale,w_301.png 301w,\
                img/poster_pwfehx_c_scale,w_321.png 321w,\
                img/poster_pwfehx_c_scale,w_341.png 341w,\
                img/poster_pwfehx_c_scale,w_358.png 358w,\
                img/poster_pwfehx_c_scale,w_377.png 377w,\
                img/poster_pwfehx_c_scale,w_395.png 395w,\
                img/poster_pwfehx_c_scale,w_411.png 411w,\
                img/poster_pwfehx_c_scale,w_427.png 427w,\
                img/poster_pwfehx_c_scale,w_443.png 443w,\
                img/poster_pwfehx_c_scale,w_458.png 458w,\
                img/poster_pwfehx_c_scale,w_474.png 474w,\
                img/poster_pwfehx_c_scale,w_489.png 489w,\
                img/poster_pwfehx_c_scale,w_503.png 503w,\
                img/poster_pwfehx_c_scale,w_515.png 515w,\
                img/poster_pwfehx_c_scale,w_517.png 517w', src='img/poster_pwfehx_c_scale,w_517.png', alt='Poster')
            .col-lg-8.col-sm-9.col-xs-12#poster-info-wrapper
              p#poster-info
                | <span>Уэйд Уилсон — наёмник. Будучи побочным продуктом программы вооружённых сил под названием «Оружие X», Уилсон приобрёл невероятную силу, проворство и способность к исцелению. Но страшной ценой: его </span><span>клеточная структура постоянно меняется, а </span><span>здравомыслие сомнительно. Всё, чего Уилсон хочет, — </span><span>это держаться на плаву в социальной выгребной яме. Но течение в ней слишком быстрое.</span>
          .row#reviews
            .col-lg-3.col-sm-3.col-xs-12
              #title-reviews Рецензии:
            .col-lg-3.col-sm-3.col-xs-12#positive-reviews-fix.progress
              #positive-reviews.progress-bar.progress-bar-success(role='progressbar', aria-valuenow='71.3', aria-valuemin='0', aria-valuemax='100')
                span#positive-reviews-count 266
                span <br>положительных
            .col-lg-3.col-sm-3.col-xs-12#neutral-reviews-fix.progress
              #neutral-reviews.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='10.9', aria-valuemin='0', aria-valuemax='100')
                span#neutral-reviews-count 41
                span <br>нейтральная
            .col-lg-3.col-sm-3.col-xs-12#negative-reviews-fix.progress
              #negative-reviews.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='17.6', aria-valuemin='0', aria-valuemax='100')
                span#negative-reviews-count 66
                span <br>отрицательных
        .row.row-full-width
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.embed-responsive.embed-responsive-16by9.poster-row#video-row.offset-fix
            .col-lg-2.col-lg-offset-5.col-sm-2.col-sm-offset-5.col-xs-3.col-xs-offset-4.playBtn
              img.img-responsive#playpause(src='img/play_35520a30-3be4-48a5-bdff-8eb84c6c37da.svg', alt='Play')
            .overlay#video-overlay
            video.bgrnd#video(controls, poster='img/Layer01.png')
              source(src='http://iandevlin.github.io/mdn/video-player/video/tears-of-steel-battle-clip-medium.mp4', type='video/mp4')
              source(src='http://iandevlin.github.io/mdn/video-player/video/tears-of-steel-battle-clip-medium.webm', type='video/webm')
              source(src='http://iandevlin.github.io/mdn/video-player/video/tears-of-steel-battle-clip-medium.ogg', type='video/ogg')
        .row.row-full-width
          .col-lg-8.col-lg-offset-2.col-sm-12.col-xs-12.poster-row#third-block.offset-fix
            img.img-responsive#prev.nav-btn(src='img/next_fde056b7-6d4a-4734-9973-8505abef99c0.svg', alt='prev')
            img.img-responsive#next.nav-btn(src='img/next_fde056b7-6d4a-4734-9973-8505abef99c0.svg', alt='next')
            .owl-carousel.owl-theme
              .item
                a(href='img/pic1.png', data-rel='lightcase:myCollection')
                  img.img-responsive.zoom(src='img/zoom_23aa0376-6621-48ba-8b36-7640c480aa18.svg', alt='Zoom')
                  .overlay.slide-overlay
                  div
                    .firstSlide
              .item
                a(href='img/pic2.png', data-rel='lightcase:myCollection')
                  img.img-responsive.zoom(src='img/zoom_23aa0376-6621-48ba-8b36-7640c480aa18.svg', alt='Zoom')
                  .overlay.slide-overlay
                  div
                    .secondSlide
              .item
                a(href='img/pic3.png', data-rel='lightcase:myCollection')
                  img.img-responsive.zoom(src='img/zoom_23aa0376-6621-48ba-8b36-7640c480aa18.svg', alt='Zoom')
                  .overlay.slide-overlay
                  div
                    .thirdSlide
      footer.row
        .col-lg-4.col-lg-push-6.col-md-6.col-md-push-4.col-sm-12.col-xs-12#footer-text-wrapper
          a(href='#') Реклама
          a(href='#') Условия использования
          span © 2003–2016 Spike
